<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div class="modal fade" id="addCommentModal" th:fragment="add_comment_modal(parent)">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add comment</h5>
            </div>
            <div class="modal-body">
                <form id="add_message_form" th:action="@{/messages/add}" method="POST" th:object="${commentFormData}">
                    <div class="form-group">
                        <textarea type="text" id="message_text" th:field="*{text}" name="text" class="form-control" placeholder="Message text"></textarea>
                    </div>
                    <input
                            type="hidden"
                            th:name="parent"
                            th:value="${message.id}" />
                    <input
                            type="hidden"
                            th:name="${_csrf.parameterName}"
                            th:value="${_csrf.token}" />
                    <p id="message_privacy">Message is public</p>
                    <hr />
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Save message</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>