<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="image_list" th:if="${not #lists.isEmpty(withmedia)}">

<div class="grid" >
<div class="media-box Category1 Category2">
    <div class="media-box-content">
        <div class="media-box-title">Dolor sit amet</div>
        <div class="media-box-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ea commodi perferendis voluptates.
        </div>
    </div>

    <div class="media-box-image">
        <div data-width="590" data-height="332" data-thumbnail="https://i.vimeocdn.com/video/148596367_590x332.jpg"></div>

        <div class="thumbnail-overlay overlay-always-visible iframe-on-grid" data-type="iframe" data-src="http://vimeo.com/22884674">
            <span class="fa fa-play media-box-play-button"></span>
        </div>
    </div>

    <div class="media-box-footer">
        <div class="media-box-social-buttons">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-pinterest"></i></a>
        </div>
    </div>
</div>
</div>


</div>



</body>
</html>