<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

    <div class="media-box Category1 Category3" th:fragment="media_wall(media)" >
        <div class="media-box-image">
            <div data-width="320" data-height="213" th:attr="data-thumbnail=${media.mediaUrls[0].getUrl()}"></div>

            <div class="thumbnail-overlay">
                <div class="thumbnail-overlay-animated" data-from="top">
                    <span class="mb-open-popup thumbnail-overlay-button" th:attr="data-src=${media.mediaUrls[0].getUrl()}" data-title="Nostrud exercitation">
                        View Image
                    </span>
                </div>
            </div>
        </div>

        <div class="media-box-content">
            <div class="media-box-title">Nostrud exercitation</div>
            <div class="media-box-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ea commodi perferendis voluptates.
            </div>
        </div>

        <div class="media-box-footer">
            <div class="media-box-social-buttons">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
    </div>

</body>
</html>