<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="media_wall(media)" >
    <div class="tile" data-ftg-ignore-size-factor="0">
        <a class="tile-inner" href="#" data-lightbox="gallery"  data-title="Lorem ipsum" th:attr="href=${media.mediaUrls[0].getUrl()}" >
            <img class="item" width="250" th:src="${media.mediaUrls[0].getUrl()}" th:attr="data-src=${media.mediaUrls[0].getUrl()}"/>
        </a>
    </div>
</div>
</body>
</html>