<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="message_line(message)" >
    <div class=" thing id-t3_7ynitq even link" id="thing_t3_7ynitq" data-score="6">
        <p class="parent"></p>
        <span class="rank">2</span>
        <div class="midcol unvoted">
            <div class="arrow up" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
            <div class="score dislikes" title="5">5</div>
            <div class="score unvoted" title="6" th:text="${message.score}">score</div>
            <div class="score likes" title="7">7</div>
            <div class="arrow down" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>
        </div>


        <a class="thumbnail" data-event-action="thumbnail" th:href="@{|'http://'|(${message.score})}" >

            <div th:switch="${message.hasImage}">
                <p th:case="true">
                    <img th:src="${message.imageSrc[0]}" width="70" height="52" alt=""/>
                </p>
                <p th:case="false">
                    <img src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" width="70" height="52" alt=""/>
                </p>
            </div>


        </a>
        <div class="entry unvoted">
            <div class="top-matter">
                <p class="title">
                    <a class="title may-blank outbound" data-event-action="title" href="https://youtu.be/6FGDHTAzZss" tabindex="1" data-href-url="https://youtu.be/6FGDHTAzZss" th:text="${message.title}">Title</a>
                </p>
                <div class="expando-button collapsed hide-when-pinned video"></div>
                <p class="tagline ">submitted <time title="Mon Feb 19 15:48:02 2018 UTC" datetime="2018-02-19T15:48:02+00:00" class="live-timestamp">20 hours ago</time> by <a href="https://www.reddit.com/user/zeroexpansion" class="author may-blank id-t2_gbvnx">zeroexpansion</a>
                    <span class="userattrs"></span> to <a href="https://www.reddit.com/r/videos/" class="subreddit hover may-blank">r/videos</a>
                </p>
                <ul class="flat-list buttons">
                    <li class="first"><a href="https://www.reddit.com/r/videos/comments/7ynitq/me_and_a_few_friends_crashed_a_gucci_store_and/" class="bylink comments may-blank" rel="nofollow">31 comments</a></li>
                    <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                    <li class="link-save-button save-button login-required"><a href="https://www.reddit.com/controversial/#">save</a></li>
                    <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required" data-event-action="report">report</a></li>
                </ul>
            </div>
        </div>
        <div class="child"></div>
        <div class="clearleft"></div>
    </div>
</div>
</body>
</html>