<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<meta name="description" content="Create public and private endpoints for your data."/>
<meta name="robots" content="index, follow"/>
<meta name="author" content="stashyio"/>
<meta property="og:type" content="profile"/>
<meta property="og:title" content="Stashy.IO - Custom RESTful endpoints"/>
<meta property="og:url" content="http://stashy.io"/>
<meta property="og:image" content="http://stashy.io/img/logo-trans-white.png"/>
<meta property="og:description" content="Create public and private endpoints for your data."/>
<meta name="twitter:card" content="product"/>
<meta name="twitter:site" content="@stashyio"/>
<meta name="twitter:title" content="Stashy.IO - Custom RESTful endpoints"/>
<meta name="twitter:description" content="Create public and private endpoints for your data."/>
<meta name="twitter:image" content="http://stashy.io/img/logo-trans-white.png"/>
</body>
</html>