<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div class="modal fade" id="setTopicModal" th:fragment="set_topic_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="add_message_form">
                            <div class="form-group">
                                <input type="text" id="set_topic_modal_topictext" name="topic"
                                       class="form-control" placeholder="Enter topic"/>
                            </div>
                            <input
                                    type="hidden"
                                    th:name="${_csrf.parameterName}"
                                    th:value="${_csrf.token}" />
                            <button id="set_topic_modal_button" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Set</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>