<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div id="tabs" class="container" th:fragment="tabs">
    <ul class="nav nav-tabs">
        <li id="list_tab"><a href="#list_tab_content" data-tab="list" data-toggle="tab" th:text="'List (' + ${#lists.size(messages)} + ')'" >List</a></li>
        <li id="media_tab"><a href="#media_tab_content" data-tab="media" data-toggle="tab" th:text="'Media wall (' + ${#lists.size(withmedia)} + ')'" >Media wall</a></li>
        <li id="events_tab"><a href="#events_tab_content" data-tab="events" data-toggle="tab" th:text="'Event (' + ${#lists.size(events)} + ')'" >Events</a></li>
    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active" id="list_tab_content">
            <div th:replace="fragments/message_list :: message_list"></div>
        </div>
        <div class="tab-pane" id="media_tab_content">
            <div th:replace="fragments/image_list :: image_list"></div>
        </div>
        <div class="tab-pane" id="events_tab_content">
            <div th:replace="fragments/event_list :: event_list"></div>
        </div>
    </div>
</div>

</body>
</html>