<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Hasahtag Plus - Hashtag tyour world</title>

    <div th:replace="fragments/meta :: meta"></div>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen" />

    <!--==============GOOGLE FONT - OPEN SANS================= -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>

    <!--============== ICON FONT FONT-AWESOME================= -->

    <link href="css/font-awesome.css" rel="stylesheet"/>

    <!--==============MAIN CSS FOR HOSTING PAGE================= -->

    <link href="/css/style.css" rel="stylesheet" media="all"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="js/modernizr.js"></script>

</head>

<body>


<div th:replace="fragments/nav :: nav"></div>



<!--==============HEADER =================-->
<div class="jumbotron masthead">
    <div class="container">

        <!--==============Hero Unit=================-->
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="hero-unit">
                        <h1>Hashtag your world</h1>
                        <h3>Public or private stashes for your data!</h3>
                        <div class="slider-actions text-center">
                            <a href="/docs" class="btn btn-info btn-lg">Docs </a>
                            <a href="/usage" class="btn btn-success btn-lg">Usage </a>
                            <a href="/plans" class="btn btn-primary btn-lg">Plans </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container">

    <div class="row mainFeatures" id="features">
        <div class="col-sm-6 col-md-4">
            <div class="img-thumbnail"> <i class="fa fa-5x fa-tachometer"></i>
                <div class="caption">
                    <h4>Internet of things (IoT) data</h4>
                    <p>Point your sensors and gadgets to stashy to store your data. <br/>
                        SDKs are available for <a href="https://github.com/snclucas/stashy_python">python</a>
                        and <a href="https://github.com/snclucas/stashy_js">javascript</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="img-thumbnail"> <i class="fa fa-5x fa-rocket"></i>
                <div class="caption">
                    <h4>Project data</h4>
                    <p>Quick and simple way to provide data endpoints for your projects.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-0">
            <div class="img-thumbnail"> <i class="fa fa-5x fa-server"></i>
                <div class="caption">
                    <h4>Enterprise data</h4>
                    <p>We can provide services for large projects.</p>
                </div>
            </div>
        </div>
    </div>

</div>



</body>


</html>