<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Stashy.IO - Fast, custom RESTful endpoints for all your data</title>

    <div th:replace="fragments/meta :: meta"></div>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <!--==============GOOGLE FONT - OPEN SANS================= -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>

    <!--============== ICON FONT FONT-AWESOME================= -->
    <link href="/css/font-awesome.css" rel="stylesheet"/>

    <!--==============MAIN CSS FOR HOSTING PAGE================= -->
    <link href="/css/style.css" rel="stylesheet" media="all"/>
    <link href="/css/messages.css" rel="stylesheet" media="all"/>

    <link href="/css/reddit.css" rel="stylesheet" media="all"/>

    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet"/>

    <script src="/js/modernizr.js"></script>

</head>

<body>

<div th:replace="fragments/nav :: nav"></div>

<div class="container">

    <div class="row PageHead">
        <div class="col-lg-12">
            <a class="btn btn-info text-uppercase" th:href="@{/messages}">
                <span class="oi oi-caret-left" title="oi-caret-left" aria-hidden="true"></span> Back
            </a>
            <a class="btn btn-info text-uppercase" href="#" id="reply" data-toggle="modal"
               data-target="#addMessageModal">Add comment</a>
            <button type="button" id="btn_sort_by_date" class="btn btn-default"><span class="oi oi-calendar" title="oi-calendar" aria-hidden="true"></span></button>
            <button type="button" id="btn_sort_by_score" class="btn btn-default"><span class="oi oi-star" title="oi-star" aria-hidden="true"></span></button>
            <button type="button" id="btn_order_asc" class="btn btn-default"><span class="oi oi-sort-ascending" title="oi-sort-ascending" aria-hidden="true"></span></button>
            <button type="button" id="btn_order_desc" class="btn btn-default"><span class="oi oi-sort-descending" title="oi-sort-descending" aria-hidden="true"></span></button>
            <button type="button" id="btn_privacy" class="btn btn-default"><span class="oi oi-lock-locked" title="oi-lock-locked" aria-hidden="true"></span></button>
        </div>
        <hr/>
    </div>
    <hr/>
    <div class="row">
        <th:block th:switch="${message.hasText()}">
            <div th:case="'true'">
                <div th:replace="fragments/message_line :: message_line(${message})"></div>
            </div>
            <div th:case="'false'">
                <img th:if="${message.isImage()} == true" class="item"
                     th:src="${message.mediaUrls[0].getUrl()}" th:attr="data-src=${message.mediaUrls[0].getUrl()}"/>

                <br/>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <th:block  th:each="messageHashtag : ${messageHashtags}" th:switch="${messageHashtag.username} == ${user.username}">
                        <button th:case="true" type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" th:title="'Score: ' + ${messageHashtag.score}">
                            <div th:text="'#'+${messageHashtag.hashtag.text}">hashtag</div>
                        </button>
                        <button th:case="false" type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" th:title="'Score: ' + ${messageHashtag.score}">
                            <div th:text="'#'+${messageHashtag.hashtag.text}">hashtag</div>
                        </button>
                    </th:block>
                </div>
            </div>
        </th:block>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-10 offset-lg-2">
            <div th:attr="data-message-prototype='s'" th:each="comment : ${comments}">

                <th:block th:switch="${comment.hasText()}">
                    <div th:case="'true'">
                        <div th:replace="fragments/comment_line :: comment_line(${comment})"></div>
                    </div>
                    <div th:case="'false'">
                        <img th:if="${comment.isImage()} == true" class="item" width="250"
                             th:src="${comment.mediaUrls[0].getUrl()}" th:attr="data-src=${comment.mediaUrls[0].getUrl()}"/>
                    </div>
                </th:block>

            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/add_message_modal :: add_message_modal(${message.id})"></div>

<div th:replace="fragments/commonjs :: commonjs"></div>
<script src="/js/messages.js"></script>

</body>


</html>