<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Stashy.IO - Fast, custom RESTful endpoints for all your data</title>

    <div th:replace="fragments/meta :: meta"></div>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen" />

    <!--==============GOOGLE FONT - OPEN SANS================= -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>

    <!--============== ICON FONT FONT-AWESOME================= -->

    <link href="/css/font-awesome.css" rel="stylesheet"/>

    <!--==============MAIN CSS FOR HOSTING PAGE================= -->

    <link href="/css/style.css" rel="stylesheet" media="all"/>
    <link href="/css/messages.css" rel="stylesheet" media="all"/>

    <link href="/css/reddit.css" rel="stylesheet" media="all"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/js/modernizr.js"></script>

</head>

<body>


<div th:replace="fragments/nav :: nav"></div>


<div class="container">

    <div class="row PageHead">
        <div class="col-lg-12">
            <a class="btn btn-info text-uppercase" href="#" id="reply" data-toggle="modal" data-target="#addCommentModal">Add comment <span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <hr />
    </div>

    <div class="row">

        <div th:replace="fragments/message_line :: message_line(${message})"></div>



    </div>

    <div class="row">

        <div th:attr="data-message-prototype='s'" th:each="comment : ${message.comments}">
            <div th:replace="fragments/message_line :: message_line(${comment})"></div>
        </div>

    </div>
</div>


<div th:replace="fragments/add_comment_modal :: add_comment_modal"></div>

<div th:replace="fragments/commonjs :: commonjs"></div>
</body>


</html>