<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Htpl | Messages</title>

    <div th:replace="fragments/meta :: meta"></div>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"/>

    <link href="/css/font-awesome.css" rel="stylesheet"/>

    <link href="/css/style.css" rel="stylesheet" media="all"/>
    <link href="/css/messages.css" rel="stylesheet" media="all"/>

    <link href="/css/buttons.css" rel="stylesheet" media="all"/>
    <link href="/css/reddit.css" rel="stylesheet" media="all"/>
    <link href="/css/hashtaglist.css" rel="stylesheet" media="all"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/js/modernizr.js"></script>

    <!-- Final Tiles Grid Gallery CSS -->
    <link rel="stylesheet" href="/css/finaltilesgallery/finaltilesgallery.css"/>
    <link rel="stylesheet" href="/css/finaltilesgallery/lightbox2.css"/>

    <link rel="stylesheet" href="/css/bootstrap-slider.min.css"/>

</head>

<body>

<div th:replace="fragments/nav :: nav"></div>


<div class="container">
    <div class="row PageHead">
        <div class="col-lg-12">
            <a class="btn btn-info text-uppercase" href="#" id="reply" data-toggle="modal" data-target="#addMessageModal">Add message <span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-info text-uppercase" href="#" id="setTopic" data-toggle="modal" data-target="#setTopicModal">Set topic <span class="glyphicon glyphicon-asterix"></span></a>
            <button id="clear_topic" class="btn btn-default">Clear topic</button>
            <button id="clear_hashtags" class="btn btn-default">Clear hashtags</button>
            <button id="btn_sort_by_date" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span></button>
            <button id="btn_sort_by_score" class="btn btn-default"><span class="glyphicon glyphicon-star"></span></button>
            <button id="btn_order_asc" class="btn btn-default"><span class="glyphicon glyphicon-sort-by-attributes"></span></button>
            <button id="btn_order_desc" class="btn btn-default"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></button>
            <button id="btn_privacy" class="btn btn-default"><span class="glyphicon glyphicon-lock"></span></button>

        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="[ col-xs-2 col-sm-2 ]">
            <div th:replace="fragments/hashtag_list :: hashtag_list"></div>
        </div>
        <div class="[ col-xs-10 col-sm-10 ]">
            <div th:replace="fragments/tabs :: tabs"></div>
        </div>
    </div>
</div>

<div th:replace="fragments/add_message_modal :: add_message_modal"></div>
<div th:replace="fragments/set_topic_modal :: set_topic_modal"></div>

</body>

<div th:replace="fragments/commonjs :: commonjs"></div>

<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

<script src="/js/bootstrap-slider.min.js"></script>

<script src="/js/messages.js"></script>
<script src="/js/hashtags.js"></script>



<!-- Final Tiles Grid Gallery script -->
<script src="/js/finaltilesgallery/jquery.finaltilesgallery.js"></script>

<script>
  $(function () {

    //we call Final Tiles Grid Gallery without parameters,
    //see reference for customisations: http://final-tiles-gallery.com/index.html#get-started
    $(".final-tiles-gallery").finalTilesGallery({
      layout: 'columns',
      gridSize: 0
    });
  });
</script>

</html>