<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Htpl | Messages</title>

    <div th:replace="fragments/meta :: meta"></div>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>

    <link href="/css/font-awesome.css" rel="stylesheet"/>

    <link href="/css/style.css" rel="stylesheet" media="all"/>
    <link href="/css/messages.css" rel="stylesheet" media="all"/>
    <link href="/css/hashtaglist.css" rel="stylesheet" media="all"/>
    <link href="/css/buttons.css" rel="stylesheet" media="all"/>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/js/modernizr.js"></script>
</head>

<body>

<div th:replace="fragments/nav :: nav"></div>

<div class="container">
    <div class="row PageHead">
        <a class="btn btn-info text-uppercase" href="#" id="reply" data-toggle="modal" data-target="#addMessageModal">Add message <span class="glyphicon glyphicon-plus"></span></a>
    </div>

    <form class="form-inline">
        <div class="form-group">
            <label for="connect">WebSocket connection:</label>
            <button id="connect" class="btn btn-default" type="submit">Connect</button>
            <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
            </button>
            <button id="tester" class="btn btn-default" type="submit">Connect</button>
        </div>
    </form>

    <div class="row">
        <div class="[ col-xs-2 col-sm-offset-2 col-sm-2 ]">
            <div th:replace="fragments/hashtag_list :: hashtag_list"></div>
        </div>
        <div class="[ col-xs-5 col-sm-5 ]">
            <div th:replace="fragments/message_list :: message_list"></div>
        </div>
        <div class="[ col-xs-5 col-sm-5 ]">

        </div>
    </div>
</div>

<div th:replace="fragments/add_message_modal :: add_message_modal"></div>

</body>

<div th:replace="fragments/commonjs :: commonjs"></div>

<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

<script src="/js/messages.js"></script>
<script src="/js/hashtags.js"></script>
<!-- <script src="js/ws.js"></script> -->

</html>